<div id="paquetes-hotel">
  <div class="container">


      <h2 class="section-header">Paquetes</h2>
      <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed eleifend suscipit.</p>
      <div class="col-md-12">

        <div class="col-md-6">
          <div class="media">
            <div class="pull-left col-md-6 col-xs-6">
              <img src="http://localhost/hesperia_oct/storage/app/media/tests/Home.jpg" class="img-responsive">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paquete 1</h4>
              <p>Qapiente itaque earum rerum hic tenetur a delectus, ut aut reiciendis voluptatibus maiores
                alias consequatur aut At vero eos et accusamus et iusto odio praesentium voluptatum</p>
                <a href="#" class="btn btn-primary pull-right">Reservar</a>
            </div>
          </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="col-md-6">
          <div class="media">
            <div class="col-md-6 col-xs-6">
              <img src="http://localhost/hesperia_oct/storage/app/media/tests/Home.jpg" class="img-responsive">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paquete 1</h4>
              <p>Qapiente itaque earum rerum hic tenetur a delectus, ut aut reiciendis voluptatibus maiores
                alias consequatur aut At vero eos et accusamus et iusto odio praesentium voluptatum</p>
                <a href="#" class="btn btn-primary pull-right">Reservar</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <p class="text-center">
          <a href="#" class="btn btn-lg btn-danger boton-bg">Ver todos</a>
          </p>
        </div>
      </div>
  </div> <!--CONTAINER-->
</div><!--PAQUETES -->
