<section id="register" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
                <h2>Salones</h2>
                <h3>Nunc eu nibh vel augue mollis tincidunt id efficitur tortor.
                   Sed pulvinar est sit amet tellus iaculis hendrerit.</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                   sed diam nonummy nibh euismod tincidunt ut laoreet.
                    Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit
                     amet consectetuer diam nonummy.</p>

                <a href="#" class="btn btn-danger">Más Información</a>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</section>
