[viewBag]
==
<section class="parallax-section" id="tab-hoteles">
    <div class="container-fluid">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
                <div class="section-title">
                    <h2>Nuestro Hotel</h2>

                </div>
            </div>
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#habitaciones" aria-controls="habitaciones" role="tab" data-toggle="tab">Habitaciones</a></li>
                    <li><a href="#informacion" aria-controls="informacion" role="tab" data-toggle="tab">Información</a></li>
                  <!--  <li><a href="#caracteristicas" aria-controls="el_hotel" role="tab" data-toggle="tab">Caracteristicas</a></li>-->
                </ul>
                <!-- tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane col-md-12" id="informacion">
                      {{hotel.informacion|raw}}
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="habitaciones">

                      <div class="owl-carousel owl-theme slider-default">
                        {% for habitacion in hotel.habitaciones %}
                          {% if habitacion.status == "1" %}
                          <div class="item">
                            <div class="col-md-6 col-sm-6">
                                <img src="{{habitacion.foto_portada.path}}" class="img-responsive">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h3>{{habitacion.nombre}}</h3>
                                <p class="text-justify">{{ str_words(habitacion.descripcion, 30)}}<br>
                                  <a href="#" data-index="{{habitacion.id}}" class="detalle" data-toggle="modal"
                                   data-target="#modal-detalle-hab-{{habitacion.id}}"
                                    >Más detalle <i class="fa fa-angle-double-right"></i>
                                  </a>
                                </p>
                                <p class="text-center">
                                    <a class="btn btn-primary" href="{{ 'hotel/reservacion_habitacion'|page({hotel: habitacion.hotel.id}) }}">
                                        Reservar
                                    </a>
                                </p>
                            </div>
                          </div>
                        {%endif%}
                      {%endfor%}
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% for habitacion in hotel.habitaciones %}
        <!-- MODAL DE DETALLE -->
        <div class="modal fade" id="modal-detalle-hab-{{habitacion.id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{habitacion.nombre}}</h4>
              </div>
              <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#fotos_panel_{{habitacion.id}}" aria-controls="home" role="tab" data-toggle="tab">Fotos</a>
                  </li>
                  <li role="presentation">
                    <a href="#descripcion_panel_{{habitacion.id}}" aria-controls="profile" role="tab" data-toggle="tab">Descripción</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="fotos_panel_{{habitacion.id}}">
                    <div id="hab-detalle-{{habitacion.id}}" class="">
                        {% for imagen in habitacion.galeria %}
                        <div class="item">
                          <img class="lazyOwl img-responsive"
                          data-src="{{imagen.path}}" alt="{{habitacion.nombre}}">
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="descripcion_panel_{{habitacion.id}}">
                    <p class="text-justify">{{ habitacion.descripcion }}</p>
                    <div class="row">

                        {% for atributo in habitacion.atributos %}
                          <div class="col-md-4 col-sm-6 col-xs-6">
                            <h5 class="text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{atributo.nombre}}</h5>
                          </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- FIN MODAL DE DETALLE -->
        {% endfor %}
    </div>
</section>
