description = "anuncio sobre la reconversión"

[viewBag]
snippetCode = "anuncio-reconversion"
snippetName = "Anuncio Reconversión"
==
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<div class="jumbotron">

				<h1 class="text-center">¡Saludos Terrícola! <i class="fa fa-hand-spock-o"></i></h1>

				<p class="lead"><strong>Gracias por pasarte por nuestra web.</strong> Por motivos de reconversión monetaria en el país no tendremos disponibilidad en nuestros hoteles en las próximas fechas, sin embargo, a partir del martes 21 de agosto puedes volver a utilizar nuestro servicio como siempre, toda la información sobre la reconversión la puedes encontrar <a href="http://globovision.com/article/lo-que-necesitas-saber-sobre-la-reconversion-monetaria-que-entrara-en-vigencia-el-proximo-20-de-agosto-en-venezuela" target="_blank">Aquí</a>&nbsp;</p><em class="lead">"El cambio es el proceso esencial de toda existencia"<br><small>-Spock</small></em></div>
		</div>
	</div>
</div>