<div class='container' id="caja-reserva-restaurant">
  <h2 class="text-center">Reserve su Mesa</h2>
  <!--<p class="text-center">-->
    <form class="form-inline text-center">
    <!--  <div class="col-md-6">-->
      <div class="col-md-12">

        <div class=" col-md-4">
          <label for="exampleInputName2">Telefono:</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="">
        </div>

        <div class="col-md-4">
          <label for="exampleInputName2">Email:</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="">
        </div>

        <div class="col-md-4">
          <label for="exampleInputName2">Mensaje:</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="(opcional)">
        </div>

      </div>
    <br><br>
      <div class="col-md-12">

        <div class="col-md-4">
          <label for="exampleInputName2">Nombre:</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="">
        </div>

         <div class="col-md-4">
            <div class="input-group col-xs-5">
              <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="Hora">
            </div>

            <div class="input-group col-xs-5">
              <div class="input-group-addon "><i class="fa fa-calendar" aria-hidden="true"></i></div>
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="Fecha">
            </div>
         </div>
      <!--</div>-->
      <!--<div class="col-md-6">-->
          <div class="col-md-4">
            <label for="exampleInputName2">Personas</label>
            <select class="form-control">
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
           </select>
             <label for="exampleInputName2">Mesas</label>
             <select class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
         </div>
      <!--</div>-->
      </div>
      <br><br>
      <button type="submit" class="btn btn-primary">Reservar</button>
   </form>
 <!--</p>-->
</div>
